@import "base/__base";
@import "components/__base";

html {
  @media (prefers-color-scheme: dark) {
    background: #2b2c2f;
  }
}

body {
  margin: 10% 0 5%;
}

.wrapper {
  margin: 0 auto;
  max-width: 720px;
}
