const projects = require('./src/data/projects');

module.exports = {
  site: {
    title: 'Erik Noorland',
    description: 'I\'m Erik, a passionate frontend developer. Besides writing quality code I\'m particularly interested in optimising applications for performance as much as possible. To accomplish this I like to work with either Vanilla Javascript or Vue / NuxtJS.',
    keywords: 'Erik Noorland, Frontend developer, Developer, Javascript, VueJS, NuxtJS',
    projects,
  }
};
