const projects = require('./src/data/projects');

module.exports = {  
  site: {  
    title: 'Erik Noorland',
    description: 'The portfolio of a frontend developer with the necessary backend knowledge to make stuff work.',
    keywords: 'Erik Noorland, Frontend developer, Developer, HTML5, CSS3, Javascript, jQuery',
    projects,
  }  
};
