@use 'sass:math';
@import "../lib.scss";

.projects__title {
  @include heading-2;
  margin: 0 0 18px 0;
}

.projects__body {
  @include body;
  margin: 0 0 32px 0;
}

.projects__gridInner {
  columns: 3 300px;
  column-gap: $sectionPaddingHorizontal;
}

.projects__filters {
  margin: 0 0 32px 0;
}

.projects__item {
  margin: 0 0 16px 0;
}