.social-icon-list {
  margin: 40px 0 0 0;
  padding: 0;

  @media(min-width: 768px) {
    margin: 30px 0 0 0;
  }
}

.social-icon {
  display: inline-block;
  margin: 0 5px 0 0;
}

.social-icon-link {
  display: block;
  transition: opacity .25s;

  &:hover {
    opacity: .75;
  }
}

.social-icon-image {
  display: block;
  padding: 5px;
  width: 35px;
  height: 35px;

  @media(min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
