.project__content__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease-out 0s, visibility .25s ease-out 0s;

  .is-loading & {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
  }
}
