@use '../../scss/lib';

.about {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    align-items: center;
  }
}

.imageWrapper {
  margin-top: -#{lib.$sectionPaddingVertical};
  margin-right: -#{lib.$sectionPaddingHorizontal};
  margin-bottom: #{lib.$sectionPaddingVertical};
  margin-left: -#{lib.$sectionPaddingHorizontal};
  flex: 0 0 auto;
  order: 1;
}

@media (min-width: 768px) {
  .imageWrapper {
    margin: 0 0 0 lib.rem(64px);
    width: lib.rem(384px);
    order: 2;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .image {
    border-radius: lib.$borderRadius;
  }
}

.content {
  order: 2;
}

@media (min-width: 768px) {
  .content {
    order: 1;
  }
}

.title {
  @include lib.heading-2;
  margin: 0 0 lib.rem(18px) 0;
}

.body {
  @include lib.body;

  p {
    margin: 0 0 lib.rem(32px) 0;

    &:last-child {
      margin: 0;
    }
  }
}
