@import "../../scss/lib.scss";

.about {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    align-items: center;
  }
}

.imageWrapper {
  margin-top: -#{$sectionPaddingVertical};
  margin-right: -#{$sectionPaddingHorizontal};
  margin-bottom: #{$sectionPaddingVertical};
  margin-left: -#{$sectionPaddingHorizontal};
  flex: 0 0 auto;
  order: 1;
}

@media (min-width: 768px) {
  .imageWrapper {
    margin: 0 0 0 rem(64px);
    width: rem(384px);
    order: 2;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .image {
    border-radius: $borderRadius;
  }
}

.content {
  order: 2;
}

@media (min-width: 768px) {
  .content {
    order: 1;
  }
}

.title {
  @include heading-2;
  margin: 0 0 rem(18px) 0;
}

.body {
  @include body;

  p {
    margin: 0 0 rem(32px) 0;

    &:last-child {
      margin: 0;
    }
  }
}
