.videoWrapper {
  font-size: 0;
  white-space: nowrap;
}

.video {
  display: block;
  margin: 5px;

  @media(min-width: 480px) {
    display: inline-block;
    width: calc(50% - 10px);
  }

  @media(min-width: 768px) {
    width: calc(33% - 10px);
  }
}

.video-image {
  margin: 0;
  max-width: 100%;
  width: auto;
  height: auto;
}
