.filters {
  font-size: .8em;
}

.filter__list {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
}

.filter {
  display: inline;
  margin: 0 0 0 10px;
}

.filter__button {
  padding: 5px 10px;
  border: 1px solid #303030;
  background: transparent;

  &:before {
    content: "+";
  }
}

.filter__checkbox {
  display: none;
}

.filter__label {
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    margin: 0 5px 0 0;
    width: 10px;
    height: 10px;
    border: 1px solid #999;
  }

  &:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 3px;
    width: 6px;
    height: 6px;
    background: transparent;
    transition: background .25s;
  }

  .filter__checkbox:checked + & {
    &:after {
      background: #303030;
    }
  }
}
