@use '../../scss/lib';

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  display: flex;
  align-items: center;
  margin: 0 8px 8px 0;
  padding: 8px 12px;
  background: #f2f2f2;
  border-radius: lib.$borderRadius;
  transition: background .35s, color .35s;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.itemSelected {
    background: #303030;
    color: #fff;
  }
}

.input {
  margin: 0;
}

.label {
  @include lib.label;
  margin: 0 0 0 8px;
}
