@use 'sass:math';

@import "reset.scss";
@import "lib.scss";
@import "globals.scss";

.page404Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(16px);
  height: 70vh;
}

.page404 {
  max-width: 500px;
  text-align: center;
  
  @media(min-width: 768px) {
    text-align: left;
  }
}

.page404__title {
  @include heading-2;
  margin: 0 0 rem(16px) 0;
}

.page404__body {
  @include body;
}